<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">

  <title>Home</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
  <h1 class="ui center aligned header">Manager Home</h1>

  <div class="ui placeholder segment">
      <form class="ui form">
          <br><a class="ui blue button" href="#" th:href="@{/manager/truckmanagement(userName=${userName})}">
              Manage Food Truck
          </a></br>
          <br><a class="ui blue button" href="#" th:href="@{/manager/trucksummary(userName=${userName})}">
            View Food Truck Summary
          </a></br>

      </form>
  </div>


<footer></footer>


</body>
</html>
