<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>Create Food Truck</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
<h1 class="ui center aligned header" >Create Food Truck</h1>
<div class="ui placeholder segment">
    <form class="ui form" method="post" action="#" th:action="@{/manager/createtruck}">
        <div class="field">
            <label>Name</label>
            <input type="text" name="foodTruckName" placeholder="Food Truck Name">
        </div>
        <div class="field">
            <lable>Station</label>
                <select class="ui fluid search dropdown" name="stationName">
                    <option th:each="station : ${allstations}" th:text="${station.stationName}"></option>
                </select>
        </div>
        <div class="field">
            <lable>Assigned Staff</label>
                <select class="ui fluid search dropdown" name="staffName">
                    <option th:each="tempstaff : ${staff}" th:text="${tempstaff.userName}"></option>
                </select>
        </div>
        <div class="three fields">
            <!--Append/clear 功能-->
            <div class="field">
                <label>Menu Item</label>
            </div>

            <!--Food 1-->
            <div class="field">
                <div class="inline">
                    <label>Food</label>
                </div>
            </div>
            <div class="field">
                <label>Food</label>
                <select class="ui fluid search dropdown" name="foodName">
                    <option th:each="fooditem : ${foods}" th:text="${fooditem.foodName}"></option>
                </select>
            </div>
            <div class="field">
                <label>Price</label>
                <input type="text" name="price" placeholder="Price">
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-success btn-sm mb-3">Create</button>
        </div>

    </form>

    <label>&nbsp;</label>
    <div class="inline">

        <!--      <a class="ui blue button" type="Back" href="">Back</a>-->
        <!--      <a class="ui blue button"href="#" th:href="@{/manager/truckCreation}">Create</a>-->
        <!--          <button class="ui blue button" type="create">Create</button>-->
    </div>
</div>


<footer></footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.ui.form').form({
        fields : {
            foodTruckName : {
                identifier: 'foodTruckName',
                rules: [{
                    type : 'empty',
                    prompt: 'Please input foodtruckname'
                }]
            },
            station : {
                identifier: 'stationName',
                rules: [{
                    type : 'empty',
                    prompt: 'Please choose stationname'
                }]
            },
            assignedStaff : {
                identifier: 'staffname',
                rules: [{
                    type : 'empty',
                    prompt: 'Please choose staffname'
                }],
                foodname : {
                    identifier: 'foodname',
                    rules: [{
                        type : 'empty',
                        prompt: 'Please choose foodname'
                    }],
                    price : {
                        identifier: 'price',
                        rules: [{
                            type : 'empty',
                            prompt: 'Please choose price'
                        }],
                    }
                }
            });
    $('.example-default-value').each(function() {
        var default_value = this.value;
        $(this).focus(function() {
            if(this.value == default_value) {
                this.value = '';
            }
        });
        $(this).blur(function() {
            if(this.value == '') {
                this.value = default_value;
            }
        });
    });
    function example_append() {
        $('#example').append($('#example-textarea').val());
    }
</script>
</body>
</html>
