<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">

  <title>Home</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
  <h1 class="ui center aligned header">Home</h1>

  <div class="ui placeholder segment">
      <form class="ui form">
            <br><a class="ui blue button" href="./explore.html">
                Explore
            </a></br>


            <br><a class="ui blue button" href="./orderhistory.html">
                View Order History
            </a></br>

            <br><a class="ui blue button" href="./currentinformation.html">
                View Current Information
            </a></br>

          <br><a class="ui blue button" href="./managefoodtruck.html">
              Manage Food Truck
          </a></br>
          <br><a class="ui blue button" href="./foodtrucksummary.html">
            View Food Truck Summary
          </a></br>
          <br><a class="ui blue button" href="./managebuilding&station.html">
              Manage Building & Station
          </a></br>
        <br><a class="ui blue button" href="./managefood.html">
              Manage Food
          </a></br>
</form>

<footer></footer>


</body>
</html>
