<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <!-- Required meta tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Manage Building & Station</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<style>

</style>
<body>
  <h1 class="ui center aligned header" >Manage Building & Station</h1>

  <div class="ui placeholder segment">
      <form action="#" method="GET" th:action="@{/admin/filter}" class="ui form">
        <div class="two fields">
          <div class="field" style="width:800px; margin:0 auto;">
            <label>Building Name</label>
            <select class="ui fluid search dropdown" name="buildingName">
              <option></option>
              <option th:each="building : ${buildingList}" th:value="${building.buildingName}" th:text="${building.buildingName}"></option>
            </select>
          </div>
          <div class="field" style="width:800px; margin:0 auto;">
            <label>Building Tag(contain)</label>
            <label>
              <input type="search" name="buildingTag" placeholder="Building Tag(contain)">
            </label>
          </div>
        </div>

        <div class="two fields">
          <div class="field" style="width:800px; margin:0 auto;">
            <label>Station Name</label>
            <select class="ui fluid search dropdown" name="stationName">
              <option></option>
              <option th:each="station : ${stationList}" th:value="${station.stationName}" th:text="${station.stationName}"></option>
            </select>
          </div>
          <div class="field" style="width:800px; margin:0 auto;">
            <label>capacity range</label>
            <input type="search" name="minCapacity" value="" />-
            <input type="search" name="maxCapacity" value=""/>
        </div>
        </div>


        <!--filter button-->
        <!--div class="ui three column very relaxed stackable grid"-->
            <div class="field" id="button" style="width:800px; margin:0 auto;">
          <button class="ui blue button" type="submit"> Filter </button>
            </div>

        <!--/div-->

      </form>

        <label>&nbsp;</label>

        <div id="table-container" style="width:1500px; margin:0 auto;">
          <table class="ui compact teal table">
            <thead>
              <tr>
                <th>Building</th>
                <th>Tag(s)</th>
                <th>Station</th>
                <th>Capacity</th>
                <th>Food Truck(s)</th>
                <th>Delete&Update Building</th>
                <th>Delete&Update Station</th>
              </tr>
            </thead>

            <tbody>
              <tr th:each="adminBSQuery : ${adminBSQueries}">

                <td style="width:800px; margin:0 auto;">
                  <input type="radio" name="selected" checked="" tabindex="0" class="hidden"
                         th:object="${adminBSQuery}" th:text="${adminBSQuery.buildingName}" >
                </td>
                <td th:text="${adminBSQuery.tag}" style="width:800px; margin:0 auto;" /></td>
                <td th:text="${adminBSQuery.stationName}" style="width:800px; margin:0 auto;" /></td>
                <td th:text="${adminBSQuery.capacity}" style="width:800px; margin:0 auto;" /></td>
                <td th:text="${adminBSQuery.foodTruckNames}" style="width:800px; margin:0 auto;" /></td>
                <td>
                  <a class="ui blue button" th:href="@{/admin/deletebuilding(buildingName=${adminBSQuery.buildingName})}"
                     onclick="if (!(confirm('Are you sure you want to delete this building?'))) return false">Delete Building
                  </a>
                  <br><br>
                  <a class="ui blue button" href="#"
                     th:href="@{/admin/updatebuilding(buildingName=${adminBSQuery.buildingName},
                     buildingTag=${adminBSQuery.tag}, stationName=${adminBSQuery.stationName})}">Update Building</a>
                </td>

                <td>
                  <a class="ui blue button" th:href="@{/admin/deletestation(stationName=${adminBSQuery.stationName})}"
                     onclick="if (!(confirm('Are you sure you want to delete this station?'))) return false">Delete Station</a>
                  <br><br>
                  <a class="ui blue button" type="updatestation" href="#"
                     th:href="@{/admin/updatestation(stationName=${adminBSQuery.stationName},
                     capacity=${adminBSQuery.capacity})}">Update Station</a>
                </td>

              </tr>
            </tbody>
          </table>
      </div>

<label>&nbsp;</label>
<div class="ui form">
<div class="two fields">
  <div class="field" style="width:800px; margin:0 auto;">
    <a class="ui blue button" type="back" href="#" th:href="@{/admin/home}">Back</a>
  </div>
  <div class="field" style="width:800px; margin:0 auto;">
    <div clss="inline">
    <a class="ui blue button" type="createbuidling" href="#" th:href="@{/admin/createbuilding}">Create Building</a>
    <label>&nbsp;</label>
    <a class="ui blue button" type="createstation" href="#" th:href="@{/admin/createstation}">Create Station</a>
  </div>
</div>
</div>
</div>



<footer></footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.ui.form').form({
        fields : {
            buidlingname : {
                identifier: 'buidlingname',
                rules: [{
                    type : 'empty',
                    prompt: 'Please choose buidlingname'
                }]
            },
            buidlingtag : {
                identifier: 'buidlingtag',
                rules: [{
                    type : 'empty',
                    prompt: 'Please eneter buidlingtag'
                }]
            },
            stationname : {
                identifier: 'stationname',
                rules: [{
                    type : 'empty',
                    prompt: 'Please choose min stationname'
                }]
            },
            capacity : {
                identifier: 'capacity',
                rules: [{
                    type : 'empty',
                    prompt: 'Please enetr capacity'
                }]
            },

      }
    });
    $('.ui.radio.checkbox')
  .checkbox()
;

</script>
</body>
</html>
